In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_csv('data/dataYiddish/nouns/multi_orthography_parallel_corpus_of_yiddish_nouns.csv')

In [4]:
df.sample()

     romanized  yivo chasidic
1524    minyen  מנין     מנין

In [5]:
len(df)

2750

In [6]:
pairs = list(zip(df.yivo.values, df.romanized.values, ['jonne-yivo']*len(df))) + list(zip(df.chasidic.values, df.romanized.values, ['jonne']*len(df)))

In [7]:
pairs[-10:]

[('תפילין', 'tfiln', 'jonne'),
 ('תפיסה', 'tfise', 'jonne'),
 ('תקופה', 'tkufe', 'jonne'),
 ('תקנה', 'takone', 'jonne'),
 ('תרגום', 'targem', 'jonne'),
 ('תשובה', 'tshuve', 'jonne'),
 ('תשליך', 'tashlekh', 'jonne'),
 ('תשעה־באב', 'tishebov', 'jonne'),
 ('תשרי', 'tishre', 'jonne'),
 ('תחת', 'tokhes', 'jonne')]

In [8]:
pair_df = pd.DataFrame({'yiddish': [tup[0] for tup in pairs], 'translit': [tup[1] for tup in pairs], 'source': [tup[2] for tup in pairs]})

In [9]:
pair_df[pair_df.translit == 'tokhes']

     yiddish translit      source
2718    תּחת   tokhes  jonne-yivo
2749     תחת   tokhes  jonne-yivo
5468     תחת   tokhes       jonne
5499     תחת   tokhes       jonne

In [10]:
len(pair_df), len(pair_df.drop_duplicates())

(5500, 5470)

In [11]:
pair_df.drop_duplicates().to_csv('data/processed-parallel/nouns.csv', index=False)